@import '@mantine/core/styles.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Обнуляем border-radius для псевдоэлемента ::-webkit-scrollbar */
*::-webkit-scrollbar {
  width: 7px;
  height: 0px;
  scrollbar-width: thin;
  border-radius: 0; /* Добавляем это свойство */
}


*::-webkit-scrollbar-track {
  background: inherit;
}

*::-webkit-scrollbar-thumb {
  background-color: #7e7e82;
  border-radius: 20px;
  border: none;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #007378;
  cursor: pointer;
}

*::-webkit-scrollbar-track:hover {
  cursor: pointer;
}

pre {
  /* background-color: #2b2b2b !important; */
   background-color: #322931 !important;
  padding-top: 25px !important;
}